$blue: #6089be;
$darkblue: #00337a;
$lightblue: #afcff1;

html {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: white;
}

body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: white;
}

a {
	text-decoration: none;
}

.header {
	height: 125px;
	width: 100%;
	background: $blue;
	position: fixed;
	z-index: 100;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid $darkblue;

	.title {
		margin: 0;
		font-family: 'Maven Pro', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.nav-bar {
		margin: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nav-div {
		margin: 0 auto;
		height: 75%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100px;
		border-radius: 10px;
		p, i {
			display: flex;
			justify-content: center;
		}
		p {
			margin: 0;
			font-family: 'Maven Pro', sans-serif;
			font-size: 15px;
			color: white;
		}
		i {
			color: white;
		}
		-webkit-transition: 0.1s linear;
		transition: 0.1s linear;
	}
	.nav-div-one:hover {
		background: white;
		p {
			color: $darkblue;
			font-weight: bold;
		}
		i {
			color: #b69f66;
			shadow: 3px 3px 1px 1px;
		}
	}
	.nav-div-two:hover {
		background: white;
		p {
			color: $darkblue;
			font-weight: bold;
		}
		i {
			color: #ecd05a;
		}
	}
}

.wrapper {
	height: 465px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	overflow-x: hidden;
	position: relative;
	top: 130px;
}

.wrapper::-webkit-scrollbar {
	border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
	background-color: $blue;
	border-radius: 10px;
}

.wrapper::-webkit-scrollbar-track {
	background-color: $lightblue;
	border-radius: 10px;
}

.blog-container {
	height: 200px;
	width: 31%;
	display: flex;
	padding: 5px;
	flex-direction: column;
	border-bottom: 2px solid $blue;
	border-right: 2px solid $blue;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
	p {
		margin: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	//Blog Title:
	p:first-child {
		color: $blue;
		font-family: 'Maven Pro', sans-serif;
		font-size: 23px;
	}
	//Author:
	p:nth-child(2) {
		font-weight: bold;
		color: black;
		font-family: 'Maven Pro', sans-serif;
	}
	//Date:
	p:nth-child(3) {
		color: teal;
		font-family: 'Maven Pro', sans-serif;
	}
	//Body:
	div {
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
		p:first-child {
			font-size: 16px;
			color: #555;
			font-family: 'Maven Pro', sans-serif;
		}
	}
}

.blog-container:hover {
	background: $blue;
	color: white;
	box-shadow: 10px 10px 0 0 $darkblue;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	p:first-of-type, p:nth-of-type(2), p:nth-of-type(3) {
		color: white;
		-webkit-transition: 0.3s linear;
		transition: 0.3s linear;
	}
}

#deletePost {
  padding: 10px;
  border: 2px solid #eee;
  background: #6089be;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px;
   }
#deletePost:hover {
  border-color: #aaa;
  background: white;
  color: red;
  font-weight: bold;
}

#readPost {
  padding: 10px;
  border: 2px solid #eee;
  background: #6089be;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px;
   }
#readPost:hover {
  border-color: #aaa;
  background: white;
  color: green;
  font-weight: bold;
}

// NEW BLOG POST

.newblog {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: absolute;
	form {
		height: 100%;
		width: 55%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		h4 {
			font-family: 'Maven Pro', sans-serif;
			font-size: 38px;
			color: $darkblue;
			align-self: center;
		}
		label {
			font-family: 'Maven Pro', sans-serif;
			font-size: 18px;
			color: $blue;
			align-self: center;
		}
		input.blogtitle {
			border: 2px solid $darkblue;
			border-radius: 3px;
			color: $blue;
			padding: 10px;
			font-family: 'Maven Pro', sans-serif;
			font-size: 30px;
		}
		input.blogauthor {
			border: 2px solid $darkblue;
			border-radius: 3px;
			color: $blue;
			padding: 10px;
			font-family: 'Maven Pro', sans-serif;
			font-size: 20px;
		}
		input:hover {
			box-shadow: 5px 5px 0 0 $blue;
			-webkit-transition: 0.5s all;
			transition: 0.5s all;
		}
		::-webkit-input-placeholder {
			color: $blue;
		}
		textarea {
			border: 2px solid $darkblue;
			border-radius: 3px;
			color: #333;
			padding: 10px;
			font-family: 'Maven Pro', sans-serif;
			font-size: 15px;
		}
		textarea:hover {
			box-shadow: 5px 5px 0 0 $blue;
			-webkit-transition: 0.5s all;
			transition: 0.5s all;
		}
		button {
			padding: 10px;
			font-family: 'Maven Pro', sans-serif;
			font-size: 18px;
			font-weight: bold;
			color: $darkblue;
			background: #ddd;
			border: 2px solid $darkblue;
			border-radius: 3px;
			width: 50%;
			align-self: center;
		}
		button:hover {
			color: white;
			background: $darkblue;
		}
		i {
			color: $blue;
			display: flex;
			align-self: center;
		}
	}
}

// READ BLOG.

.readblog-wrapper {
	z-index: 100;
	position: relative;
	top: 130px;
	height: 465px;
	width: 100%;
	display: flex;
	margin: 0;
	justify-content: center;
	background: $lightblue;
	.readblog-container {
		background: #eee;
		margin: 20px;
		padding: 20px;
		border-radius: 10px;
		width: 75%;
		h1 {
			margin: 0;
			font-family: 'Raleway', sans-serif;
			font-size: 72px;
			color: $darkblue;
		}
		h2 {
			margin: 0;
			font-family: 'Raleway', sans-serif;
			font-size: 25px;
		}
		h3 {
			margin: 0;
			font-size: 25px;	
			font-family: 'Raleway', sans-serif;
			color: $blue;
		}
		p {
			margin: 0;
			font-family: 'Maven Pro', sans-serif;
			font-size: 18px;
		}
	}
}