<div class="wrapper"> 
	<div class="blog-container" ng-repeat="post in blog" ng-click="readPost(post._id)" ui-sref=".readblog">  
		<p><i class="fa fa-sticky-note"></i>&nbsp;<b>{{ post.title }}</b></p>
   		<p>by {{ post.author }}</p> 
   		<p>{{ post.pubdate | date }}</p>
   		<br>
		<div>
			<p>{{ post.body }}</p>
      	</div>
      	<br><br>
      	<div class="button-box">
   			<div id="deletePost" ng-click="deletePost(post._id)"><i class="fa fa-trash-o fa-2x"></i></div>
   		</div>
	</div>
</div>

<ui-view name="mainContent" class="main-fade"></ui-view>
<ui-view name="newBlog" class="writeblog"></ui-view>



