html {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: white; }

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: white; }

a {
  text-decoration: none; }

.header {
  height: 125px;
  width: 100%;
  background: #6089be;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #00337a; }
  .header .title {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .header .nav-bar {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .nav-div {
    margin: 0 auto;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    border-radius: 10px;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .header .nav-div p, .header .nav-div i {
      display: flex;
      justify-content: center; }
    .header .nav-div p {
      margin: 0;
      font-family: 'Maven Pro', sans-serif;
      font-size: 15px;
      color: white; }
    .header .nav-div i {
      color: white; }
  .header .nav-div-one:hover {
    background: white; }
    .header .nav-div-one:hover p {
      color: #00337a;
      font-weight: bold; }
    .header .nav-div-one:hover i {
      color: #b69f66;
      shadow: 3px 3px 1px 1px; }
  .header .nav-div-two:hover {
    background: white; }
    .header .nav-div-two:hover p {
      color: #00337a;
      font-weight: bold; }
    .header .nav-div-two:hover i {
      color: #ecd05a; }

.wrapper {
  height: 465px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  top: 130px; }

.wrapper::-webkit-scrollbar {
  border-radius: 10px; }

.wrapper::-webkit-scrollbar-thumb {
  background-color: #6089be;
  border-radius: 10px; }

.wrapper::-webkit-scrollbar-track {
  background-color: #afcff1;
  border-radius: 10px; }

.blog-container {
  height: 200px;
  width: 31%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  border-bottom: 2px solid #6089be;
  border-right: 2px solid #6089be;
  margin-left: 20px;
  margin-top: 15px;
  position: relative; }
  .blog-container p {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px; }
  .blog-container p:first-child {
    color: #6089be;
    font-family: 'Maven Pro', sans-serif;
    font-size: 23px; }
  .blog-container p:nth-child(2) {
    font-weight: bold;
    color: black;
    font-family: 'Maven Pro', sans-serif; }
  .blog-container p:nth-child(3) {
    color: teal;
    font-family: 'Maven Pro', sans-serif; }
  .blog-container div {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .blog-container div p:first-child {
      font-size: 16px;
      color: #555;
      font-family: 'Maven Pro', sans-serif; }

.blog-container:hover {
  background: #6089be;
  color: white;
  box-shadow: 10px 10px 0 0 #00337a;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  .blog-container:hover p:first-of-type, .blog-container:hover p:nth-of-type(2), .blog-container:hover p:nth-of-type(3) {
    color: white;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear; }

#deletePost {
  padding: 10px;
  border: 2px solid #eee;
  background: #6089be;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px; }

#deletePost:hover {
  border-color: #aaa;
  background: white;
  color: red;
  font-weight: bold; }

#readPost {
  padding: 10px;
  border: 2px solid #eee;
  background: #6089be;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px; }

#readPost:hover {
  border-color: #aaa;
  background: white;
  color: green;
  font-weight: bold; }

.newblog {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute; }
  .newblog form {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .newblog form h4 {
      font-family: 'Maven Pro', sans-serif;
      font-size: 38px;
      color: #00337a;
      align-self: center; }
    .newblog form label {
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px;
      color: #6089be;
      align-self: center; }
    .newblog form input.blogtitle {
      border: 2px solid #00337a;
      border-radius: 3px;
      color: #6089be;
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 30px; }
    .newblog form input.blogauthor {
      border: 2px solid #00337a;
      border-radius: 3px;
      color: #6089be;
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 20px; }
    .newblog form input:hover {
      box-shadow: 5px 5px 0 0 #6089be;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .newblog form ::-webkit-input-placeholder {
      color: #6089be; }
    .newblog form textarea {
      border: 2px solid #00337a;
      border-radius: 3px;
      color: #333;
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 15px; }
    .newblog form textarea:hover {
      box-shadow: 5px 5px 0 0 #6089be;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .newblog form button {
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #00337a;
      background: #ddd;
      border: 2px solid #00337a;
      border-radius: 3px;
      width: 50%;
      align-self: center; }
    .newblog form button:hover {
      color: white;
      background: #00337a; }
    .newblog form i {
      color: #6089be;
      display: flex;
      align-self: center; }

.readblog-wrapper {
  z-index: 100;
  position: relative;
  top: 130px;
  height: 465px;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  background: #afcff1; }
  .readblog-wrapper .readblog-container {
    background: #eee;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 75%; }
    .readblog-wrapper .readblog-container h1 {
      margin: 0;
      font-family: 'Raleway', sans-serif;
      font-size: 72px;
      color: #00337a; }
    .readblog-wrapper .readblog-container h2 {
      margin: 0;
      font-family: 'Raleway', sans-serif;
      font-size: 25px; }
    .readblog-wrapper .readblog-container h3 {
      margin: 0;
      font-size: 25px;
      font-family: 'Raleway', sans-serif;
      color: #6089be; }
    .readblog-wrapper .readblog-container p {
      margin: 0;
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px; }

/*# sourceMappingURL=styles.css.map */
