html {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: white;
  overflow: hidden; }

body {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  background: white;
  overflow-x: hidden;
  border-left: 1px solid #ddd; }

a {
  text-decoration: none; }

.header {
  height: 50px;
  width: 62.50%;
  background: #fff;
  position: fixed;
  z-index: 200;
  display: flex;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd; }
  .header .title {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #99ffa0;
    padding-left: 10px; }
  .header .nav-bar {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%; }
  .header .nav-div {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-left: 1px solid #eee;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear; }
    .header .nav-div a {
      width: 100%;
      height: 100%; }
    .header .nav-div p, .header .nav-div i, .header .nav-div a {
      display: flex;
      justify-content: center;
      align-items: center; }
    .header .nav-div i {
      color: #99ffa0; }
  .header .nav-div:hover {
    background: #99ffa0; }
    .header .nav-div:hover i {
      color: white;
      shadow: 3px 3px 1px 1px; }

.wrapper {
  height: 94.7%;
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 5.3%;
  cursor: pointer; }

.wrapper::-webkit-scrollbar {
  background: white;
  width: 10px; }

.wrapper::-webkit-scrollbar-thumb {
  background-color: #17762c;
  border-radius: 20px; }

.wrapper::-webkit-scrollbar-track {
  background-color: #99ffa0;
  border-radius: 20px; }

.blog-container {
  height: 22.8%;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative; }
  .blog-container p {
    margin: 0;
    padding-left: 3px;
    padding-right: 3px; }
  .blog-container p:first-child {
    color: #17762c;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; }
  .blog-container p:nth-child(2) {
    font-weight: bold;
    color: black;
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px; }
  .blog-container p:nth-child(3) {
    color: #17762c;
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px; }
  .blog-container div {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .blog-container div p:first-child {
      font-size: 13px;
      color: #555;
      font-family: 'Maven Pro', sans-serif; }
  .blog-container .button-box {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 5px; }
    .blog-container .button-box #deletePost {
      padding: 5px;
      background: #17bf44;
      color: white;
      border-radius: 7px;
      margin-right: 5px; }
    .blog-container .button-box #deletePost:hover {
      background: #d3f3dd;
      color: #17bf44;
      -webkit-transition: 0.4s ease-out;
      transition: 0.4s ease-out; }

.blog-container:hover {
  background: #99ffa0;
  color: white;
  border-bottom: 1px solid #17bf44;
  border-right: 1px solid #17bf44;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  .blog-container:hover p:first-of-type, .blog-container:hover p:nth-of-type(2), .blog-container:hover p:nth-of-type(3) {
    color: #389aff;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear; }

.newblog {
  display: flex;
  justify-content: center;
  border-left: 1px solid #ddd;
  background: white;
  height: 94.7%;
  width: 47.45%;
  position: absolute;
  top: 5.3%;
  left: 27.55%;
  z-index: 150;
  border-right: 1px solid #ddd; }
  .newblog .exit {
    color: #99ffa0;
    padding: 5px;
    position: absolute;
    right: 0.5%;
    z-index: 151; }
  .newblog form {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .newblog form label {
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px;
      color: #17762c;
      align-self: center; }
    .newblog form input.blogtitle {
      border: 2px solid #99ffa0;
      background: #eee;
      border-radius: 3px;
      color: #17762c;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 30px; }
    .newblog form input.blogauthor {
      border: 2px solid #99ffa0;
      background: #eee;
      border-radius: 3px;
      color: #17762c;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 20px; }
    .newblog form input:hover {
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .newblog form ::-webkit-input-placeholder {
      color: #17762c; }
    .newblog form textarea {
      border: 2px solid #99ffa0;
      background: #eee;
      border-radius: 3px;
      color: #333;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 15px; }
    .newblog form textarea:hover {
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .newblog form button {
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #17bf44;
      background: white;
      border: 2px solid #d3f3dd;
      border-radius: 20px;
      width: 40%;
      align-self: center;
      cursor: pointer; }
    .newblog form button:hover {
      color: white;
      background: #17bf44; }
    .newblog form i {
      color: #99ffa0;
      display: flex;
      align-self: center; }

.readblog-wrapper {
  z-index: 99;
  position: absolute;
  top: 5%;
  left: 27.55%;
  height: 94.8%;
  width: 47.5%;
  display: flex;
  margin: 0;
  justify-content: center;
  background: #eee;
  border-right: 1px solid #ddd; }
  .readblog-wrapper .readblog-container {
    position: relative;
    background: #99ffa0;
    margin: 20px;
    padding: 20px;
    width: 90%;
    border-radius: 5px;
    -webkit-transition: 1s ease-out; }
    .readblog-wrapper .readblog-container .date-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      float: left;
      background-color: #17bf44;
      padding-right: 10px; }
      .readblog-wrapper .readblog-container .date-box h3 {
        margin: 0;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        color: white;
        display: flex;
        text-align: center; }
    .readblog-wrapper .readblog-container .title-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 65%;
      height: 100px;
      padding-left: 20px;
      border-left: 1px solid #17bf44; }
      .readblog-wrapper .readblog-container .title-box h1 {
        margin: 0;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        color: #17762c;
        border-left: 2px solid #17bf44;
        padding-left: 20px; }
      .readblog-wrapper .readblog-container .title-box h2 {
        margin: 0;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        color: #555;
        border-left: 2px solid #17bf44;
        padding-left: 20px; }
    .readblog-wrapper .readblog-container .body-box {
      background: white;
      border-radius: 5px;
      padding: 10px; }
      .readblog-wrapper .readblog-container .body-box p {
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: #666; }
    .readblog-wrapper .readblog-container .button-container {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      justify-content: center; }
      .readblog-wrapper .readblog-container .button-container a {
        height: 100%;
        width: 100%;
        color: white; }
        .readblog-wrapper .readblog-container .button-container a #button {
          display: flex;
          justify-content: center;
          padding: 20px;
          background: #17bf44;
          color: white;
          font-family: 'Maven Pro', sans-serif;
          font-size: 15px;
          font-weight: bold;
          border-radius: 5px;
          margin: 5px;
          width: 50px; }
        .readblog-wrapper .readblog-container .button-container a #button:hover {
          color: #30ff3e;
          font-weight: bold; }

.home {
  position: absolute;
  top: 5%;
  left: 27.5%;
  height: 94.7%;
  width: 47.55%;
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: center; }
  .home h1 {
    font-family: 'Raleway', sans-serif;
    color: #99ffa0;
    align-self: center;
    justify-content: center;
    position: relative;
    bottom: 5%;
    width: 50%; }
  .home .pencil {
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee; }
    .home .pencil a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .home .pencil i {
      color: #99ffa0; }
  .home .pencil:hover {
    background: #99ffa0;
    color: white; }
    .home .pencil:hover i {
      color: white; }

.main-fade.ng-enter {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  opacity: 0; }

.main-fade.ng-enter-active {
  opacity: 1; }

.main-fade.ng-leave {
  opacity: 1; }

.main-fade.ng-leave-active {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  opacity: 0; }

.slide-in {
  -webkit-animation: slideIn 0.8s; }
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    top: -50%; }
  100% {
    opacity: 1;
    top: -5%; } }
.fade-in {
  -webkit-animation: fadeIn 1s; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 5%; }

.writeblog.ng-enter {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  opacity: 0; }
  .writeblog.ng-enter .form {
    position: relative;
    bottom: -47.4%; }

.writeblog.ng-enter-active {
  opacity: 1; }
  .writeblog.ng-enter-active .form {
    -webkit-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
    position: relative;
    bottom: 5%; }

.writeblog.ng-leave {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  opacity: 1; }
  .writeblog.ng-leave .form {
    position: relative;
    bottom: 5%; }

.writeblog.ng-leave-active {
  opacity: 0; }
  .writeblog.ng-leave-active .form {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    position: relative;
    bottom: -90%; }

/*# sourceMappingURL=styles.css.map */
