html {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #f8f5d5; }

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: white; }

a {
  text-decoration: none; }

.header {
  height: 125px;
  width: 100%;
  background: #6089be;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header h1 {
    color: white;
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    justify-content: center; }
  .header div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }

h2 {
  font-family: 'Maven Pro', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px; }

h3 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 21px;
  color: white; }

h3:hover {
  color: #00337a; }

.wrapper {
  padding-top: 130px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.container {
  height: 200px;
  width: 30%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  border-bottom: 2px solid #6089be;
  border-right: 2px solid #6089be;
  margin-left: 20px;
  margin-top: 15px; 
  position: relative;}
  .container p {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px; }
  .container p:first-child {
    color: #00337a;
    font-family: 'Maven Pro', sans-serif;
    font-size: 23px; }
  .container p:nth-child(2) {
    font-weight: bold;
    color: black;
    font-family: 'Maven Pro', sans-serif; }
  .container p:nth-child(3) {
    color: teal;
    font-family: 'Maven Pro', sans-serif; }
  .container div {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    .container div p:first-child {
      font-size: 16px;
      color: #555;
      font-family: 'Maven Pro', sans-serif; }

.container:hover {
  background: #6089be;
  color: white;
  box-shadow: 10px 10px 0 0 #00337a;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear; }
  .container:hover p:first-of-type, .container:hover p:nth-of-type(2), .container:hover p:nth-of-type(3) {
    color: white;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear; }

.deletePost {
  padding: 10px;
  border: 2px solid #eee;
  background: #6089be;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px;
   }
.deletePost:hover {
  border-color: #aaa;
  background: white;
  color: red;
  font-weight: bold;
}

.readPost {
  padding: 10px;
  border: 2px solid #eee;
  background: #6089be;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  border-radius: 5px;
   }
.readPost:hover {
  border-color: #aaa;
  background: white;
  color: green;
  font-weight: bold;
}

.newblog {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .newblog form {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .newblog form h4 {
      font-family: 'Maven Pro', sans-serif;
      font-size: 38px;
      color: #00337a;
      align-self: center; }
    .newblog form label {
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px;
      color: #6089be;
      align-self: center; }
    .newblog form input.blogtitle {
      border: 2px solid #00337a;
      border-radius: 3px;
      color: #6089be;
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 30px; }
    .newblog form input.blogauthor {
      border: 2px solid #00337a;
      border-radius: 3px;
      color: #6089be;
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 20px; }
    .newblog form input:hover {
      box-shadow: 5px 5px 0 0 #6089be;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .newblog form ::-webkit-input-placeholder {
      color: #6089be; }
    .newblog form textarea {
      border: 2px solid #00337a;
      border-radius: 3px;
      color: #333;
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 15px; }
    .newblog form textarea:hover {
      box-shadow: 5px 5px 0 0 #6089be;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .newblog form button {
      padding: 10px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #00337a;
      background: #ddd;
      border: 2px solid #00337a;
      border-radius: 3px;
      width: 50%;
      align-self: center; }
    .newblog form button:hover {
      color: white;
      background: #00337a; }
    .newblog form i {
      color: #6089be;
      display: flex;
      align-self: center; }
